<!DOCTYPE html>
<!-- Learn coding Angular -->
<h1>Welcome Application Component- {{message}}</h1>
<!-- <app-interpolation></app-interpolation> ทดสอบ interpolation -->
<!-- <app-property-binding></app-property-binding> ทดสอบ property binding -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-twoway-binding></app-twoway-binding> -->
<!-- <app-structural-dir></app-structural-dir> -->
<!-- <app-interaction (childEvent)="message=$event" [parentData]="name"></app-interaction> -->
<!-- <app-pipes></app-pipes> -->
<app-employee-list></app-employee-list>